%btn {
    padding: 15px 0;
    border: 0;
    color: white;
    font-size: em(14px);
    font-weight: $font-weight--medium;
    text-transform: uppercase;
    border-radius: $br--default;
    margin-bottom: em(20px);
    width: 100%;
}

%grid-col {
    padding: 15px 20px;
    border: 0;
    border-radius: $br--default;
    margin-bottom: em(4px);
    width: em(370px);
}

%srt {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%links{

}

%center-images {
    display: block;
    margin: 0 auto;   
}

%image-frame {
    padding: em(8px);
    border: 1px solid $grey;
    width: 95%;
}


%hdln-prim {
    @include text(em(32px), $color: $emerald);
}

%hdln-sec {

}

%nav {
 
}