%srt {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%link {
    @include text(em(16px), $weight: $font-weight--light, $color: $fountain-blue);
    text-decoration: none;
}

%center-images {
    display: block;
    margin: 0 auto;   
}

%image-frame {
    padding: em(8px);
    border: 1px solid $grey;
    width: 95%;
}


%hdln-prim {
    font-family: $font-family--primary;
    @include text($size: em(32px), $weight: $font-weight--ultra-bold, $color: $emerald);
    margin-left: em(15px);
}

%hdln-sec {
    font-family: $font-family--secondary;
    @include text(em(16px), $weight: $font-weight--light, $color: $grey);
}

%nav {
    list-style-type: none;

}

%nav-item {

    a {
        text-decoration: none;
        display: block;
        @include text(em(18px), $weight: $font-weight--light, $color: $grey);
        text-align: center;
        padding: em(10px) 0;
        margin-left: em(-40px);
        &[href="#type"] {
            @include text(em(18px), $weight: $font-weight--light, $color: $white);
            background-color: $emerald;
            border-radius: $br--default;
        }
    }
}

%btn {
    padding: em(15px) 0;
    border: 0;
    color: $white;
    font-size: em(14px);
    font-weight: $font-weight--medium;
    text-transform: uppercase;
    border-radius: $br--default;
    margin-bottom: em(20px);
    width: 100%;
}

%grid-col {
    padding: em(15px) em(20px);
    border: 0;
    border-radius: $br--default;
    margin-bottom: em(4px);
    width: em(425px);
}