// text mixin
// Sets the size, line height, font weight, and color of text.
@mixin text($size, $l-height: null, $weight: null, $color: null) {
    font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    color: $color;
}

// creates .btn--success etc.
@mixin bg-colors($map) {
    @each $theme, $color in $map {
        &--#{$theme} {
            background-color: $color;
            @content;
        }
    }
}

// centers images on the page
@mixin ctr-images($photos) {
    @each $img in $photos {
        &--#{$img} {
            @extend %center-images;
        }
    }
}

// bem element creater
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

// bem modifier creator
@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}
// flexbox settings
@mixin flexbox-settings() {
    display: flex;
    flex-direction: row;
    margin-left: em(100px);
    padding-right: 0;
}

// media query
@mixin mq() {
    @media #{$brk-narrow} {
        width: em(1400px);
        &:nth-of-type(1) {
            grid-template-columns:  em(125px) auto em(725px) em(200px);
            .grid__col--3 {
                grid-column: 2 / 3;
            }
        } 
        &:nth-of-type(2) {
            grid-template-columns: em(200px) em(1200px) em(200px);
            .grid__col--12 {
                grid-column: 2 / 3;
            }
            p {
                width: em(970px);
            }
        }
        &:nth-of-type(3) {
            grid-template-columns: em(200px) em(625px) em(350px);
            .grid__col--8 {
                grid-column: 2 / 3;
            }
            .headline--primary {
                width: em(625px);
            }
            p {
                width: em(600px);
            }
            .blockquote {
                width: em(400px);
                line-height: 1.25;
            }
        }
        &:nth-of-type(4){
            grid-template-columns: em(600px) em(600px);
            justify-content: right;
        }
        &:nth-of-type(5) {
            .grid__col--12 {
                width: em(1400px);
                display: flex;
                [class^="btn"] {
                    width: em(150px);
                    margin: 0 em(25px);
                }
                justify-content: center;
               
            }
        }
        &:nth-of-type(6) {
            grid-template-columns: em(200px) em(1000px);
            .grid__col--12 {
                width: em(1000px);
                margin-bottom: em(20px);
                grid-column: 2 / 3;
            }
        }
        &:nth-of-type(7) {
            grid-template-columns: em(495px) em(495px);
            margin-left: em(200px);
            grid-gap: em(10px);
            .grid__col--6 {
                width: em(495px);
                margin-bottom: em(20px);
            }
        }
        &:nth-of-type(8) {            
            grid-template-columns: em(326.3px) em(326.3px) em(326.3px);
            margin-left: em(200px);
            grid-gap: em(10px);
            .grid__col--4 {
                width: em(326.3px);
                margin-bottom: em(20px);
            }
        }
        &:nth-of-type(9) {
            grid-template-columns: em(242.5px) em(242.5px) em(242.5px) em(242.5px);
            margin-left: em(200px);
            grid-gap: em(10px);
            .grid__col--3 {
                width: em(242.5px);
                margin-bottom: em(20px);
            }
        }
        &:nth-of-type(10) {
            grid-template-columns: em(400px) em(590px);
            margin-left: em(200px);
            grid-gap: em(10px);
            .grid__col--5 {
                width: em(400px);
                margin-bottom: em(20px);
            }
            .grid__col--7 {
                width: em(590px);
                margin-bottom: em(20px);
            }
        }
        &:nth-of-type(11) {
            grid-template-columns: em(663.7px) em(326.3px);
            margin-left: em(200px);
            grid-gap: em(10px);
            .grid__col--8 {
                width: em(663.7px);
                margin-bottom: em(20px);
            }
            .grid__col--4 {
                width: em(326.3px);
                margin-bottom: em(20px);
            }
        }
        &:nth-of-type(12) {
            grid-template-columns: em(590px);
            margin-left: em(405px);
            .grid__col--7 {
                width: em(590px);
                margin-bottom: em(20px);
            }
        }
    }
}

@mixin mq2() {
    @media #{$brk-narrow} {
        @include flexbox-settings();
    }
}

@mixin mq3 {
    @media #{$brk-narrow} {
        margin-right: em(50px);
        width: em(100px);
    }
}
@mixin mq4 {
    @media #{$brk-narrow} {
        width: em(1400px);
        display: block;
        > .headline--secondary {
            margin-left: em(200px);
        }
    }
}