// text mixin
// Sets the size, line height, font weight, and color of text.
@mixin text($size, $l-height: null, $weight: null, $color: null) {
    font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    color: $color;
}

// creates .btn--success etc.
@mixin bg-colors($map) {
    @each $theme, $color in $map {
        &--#{$theme} {
            background-color: $color;
            @content;
        }
    }
}

// centers images on the page
@mixin ctr-images($photos) {
    @each $img in $photos {
        &--#{$img} {
            @extend %center-images;
        }
    }
}

// bem element creater
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

// bem modifier creator
@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}
// flexbox settings
@mixin flexbox-settings() {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    padding-right: 0;
}

// media query
@mixin mq() {
    @media #{$brk-narrow} {
        width: em(1400px);
        &:nth-of-type(1) {
            grid-template-columns:  125px auto 725px 200px;
            .grid__col--3 {
                grid-column: 2 / 3;
            }
        } 
        &:nth-of-type(2) {
            grid-template-columns: 200px 1200px 200px;
            .grid__col--12 {
                grid-column: 2 / 3;
            }
            p {
                width: em(970px);
            }
        }
        &:nth-of-type(3) {
            grid-template-columns: 200px 625px 350px;
            .grid__col--8 {
                grid-column: 2 / 3;
            }
            .headline--primary {
                width: 625px;
            }
            p {
                width: 600px;
            }
            .blockquote {
                width: 575px;
                line-height: 1.25;
            }
        }
        &:nth-of-type(4){
            grid-template-columns: 600px 600px;
            justify-content: right;
        }
        &:nth-of-type(5) {
            .grid__col--12 {
                width: 1400px;
                display: flex;
                [class^="btn"] {
                    width: 150px;
                    margin: 0 25px;
                }
                justify-content: center;
               
            }
        }
        &:nth-of-type(6) {
            grid-template-columns: 200px 1000px;
            .grid__col--12 {
                width: 1000px;
                margin-bottom: 20px;
                grid-column: 2 / 3;
            }
        }
        &:nth-of-type(7) {
            grid-template-columns: 495px 495px;
            margin-left: 200px;
            grid-gap: 10px;
            .grid__col--6 {
                width: 495px;
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(8) {            
            grid-template-columns: 326.3px 326.3px 326.3px;
            margin-left: 200px;
            grid-gap: 10px;
            .grid__col--4 {
                width: 326.3px;
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(9) {
            grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
            margin-left: 200px;
            grid-gap: 10px;
            .grid__col--3 {
                width: 242.5px;
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(10) {
            grid-template-columns: 400px 590px;
            margin-left: 200px;
            grid-gap: 10px;
            .grid__col--5 {
                width: 400px;
                margin-bottom: 20px;
            }
            .grid__col--7 {
                width: 590px;
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(11) {
            grid-template-columns: 663.7px 326.3px;
            margin-left: 200px;
            grid-gap: 10px;
            .grid__col--8 {
                width: 663.7px;
                margin-bottom: 20px;
            }
            .grid__col--4 {
                width: 326.3px;
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(12) {
            grid-template-columns: 590px;
            margin-left: 405px;
            .grid__col--7 {
                width: 590px;
                margin-bottom: 20px;
            }
        }
    }
}

@mixin mq2() {
    @media #{$brk-narrow} {
        @include flexbox-settings();
    }
}

@mixin mq3 {
    @media #{$brk-narrow} {
        margin-right: em(50px);
        width: em(100px);
    }
}
@mixin mq4 {
    @media #{$brk-narrow} {
        width: em(1400px);
        display: block;
        > .headline--secondary {
            margin-left: em(200px);
        }
    }
}