* {
    box-sizing: border-box;
}

.container {
    width: em(480px);
    display: grid;
    margin: em(50px) auto;
    grid-template-columns: 100%;
    grid-row-gap: em(20px);
    > .headline--secondary {
        margin-left: em(50px);
    }
    @media #{$brk-narrow} {
        width: 1400px;
        display: flex;
        flex-wrap: wrap;
    }
}
 
.grid__row {
    display: grid;
    margin: 0 auto;
    @media #{$brk-narrow} {
        display: flex; 
    }
}